<nav role="navigation">
  <a href="/"><img src="https://github.com/datagirlz19/datagirlz19.github.io/blob/32c78a3f20046c24d925bf36eec681520982ef8a/Articles_Refrenced/logo_black.png" alt="DataGirlz" /></a>
  <a href="/" class="logo">DataGirlz</a>
  <ul>
    <li><a href="/" {% if page.url == "/" %}class="active"{% endif %}>Home & Current Projects</a></li>
    <li><a href="/tags" {% if page.url == "/tags" %}class="active"{% endif %}>Tags</a></li>
    <li><a href="/about" {% if page.url == "/about" %}class="active"{% endif %}>About</a></li>
    <li><a href="/projects" {% if page.url == "/projects" %}class="active"{% endif %}>Completed Projects</a></li>
    <li><a href="/atom.xml">Feed</a></li>
  </ul>
</nav>
